<div class="hidden d-none" id="a1">
  <div class="popover-header">
    Gauge Settings
  </div>

  <div class="popover-body button-group">
    <!-- Dropdown menu links -->
    <button id="onetext" onclick="setOneText()">Set one label</button>
    <button id="twotext" onclick="setTwoText()">Set two labels</button>
    <button id="shrink" onclick="shrink()">Shrink</button>
    <button id="enlarge" onclick="enlarge()">Enlarge</button>
    <button onclick="addArrow()">Add arrow</button>
    <button onclick="removeArrow()">Remove arrow</button>
    <button onclick="upArrow()">Up arrow</button>
    <button onclick="downArrow()">Down arrow</button>
    <button onclick="defaultArrow()">Default arrow</button>
    <button onclick="setDecimalZero()">No Decimal</button>
    <button onclick="setDecimalOne()">One Decimal</button>
    <button onclick="setDecimalTwo()">Two Decimal</button>
  </div>
</div>
