{% load static %}


<link rel='stylesheet' href="{% static 'jquery-ui-1.13.1/jquery-ui.css' %}">
<link rel='stylesheet' href="{% static 'mdl/material.min.css' %}">
{#<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">#}


<style>
  .tank-gauge {
    height: 175px;
    width: 175px;
    position: relative;
  }
</style>


<div class="card-body d-flex flex-row align-items-end w-50">
  <div class="collapse" id="gs">
    <button id="onetext" onclick="setOneText()" href="#">Set one label</button>
    <button id="twotext" onclick="setTwoText()" href="#">Set two labels</button>
    <br>
    <br>
    <button onclick="addArrow()" href="#">Add arrow</button>
    <button onclick="removeArrow()" href="#">Remove arrow</button>
    <br>
    <br>
    <button onclick="setDecimalZero()">No Decimal</button>
    <button onclick="setDecimalOne()">One Decimal</button>
    <button onclick="setDecimalTwo()">Two Decimal</button>
  </div>

  <div class="tank-gauge"></div>
</div>


<script src="{% static 'd3/dist/d3.js' %}"></script>
<script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<script src="{% static 'jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'mdl/material.min.js' %}"></script>

<script type="text/javascript">
  $(function () {

    $("#gauge-settings").popover({
      container: "body",
      html: true,
      title: function () {
        let title = $(this).attr("data-popover-content");
        return $(title).children(".popover-header").html();
      },
      content: function () {
        let content = $(this).attr("data-popover-content");
        return $(content).children(".popover-body").html();
      }

    });
  });
</script>


{% include 'water_level/snippets/tank_js.html' %}
