{% extends 'base.html' %}

{% block content %}


  <!-- REGULAR SCREENS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card w-100 h-100">
          <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
              <h7 class="">DASHBOARD</h7>
              <div class="d-flex flex-row align-items-center">
                <span class="material-icons m-auto pr-1">speed</span>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="card-group justify-content-between">
              {% include 'relay_control/relay_control.html' %}
              {% include 'water_level/water_level.html' %}
              {% include 'water_level/water_level_graph.html' %}
            </div>
          </div>

          <div class="card-footer gs-container justify-content-between">
            <div class="d-flex">
              <a type="button" class="btn btn-primary" href="#gs" data-toggle="collapse">
                Gauge Settings
              </a>

              <br>

              <label for="test"></label>
              <textarea class="flex-grow-1" id="test">{{ test }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        {% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}
      </div>
    </div>
  </div>
  <!-- END REGULAR SCREENS -->

  <!-- TODO: MOBILE SCREENS -->
  <div class="d-flex d-md-none flex-column p-2">
    {% include 'relay_control/relay_control.html' %}

    {% include 'water_level/water_level.html' %}

    {% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}
  </div>
  <!-- END MOBILE SCREENS -->


{% endblock content %}
