{% load static %}

<!doctype html>
<html lang="en">

<!-- HEAD -->
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Googleapis Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <!-- Bootsrtap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.6.1/css/bootstrap.min.css' %}">
  <!-- Bootstrap4-toggle CSS -->
  <link href="{% static 'bootstrap4-toggle-3.6.1/css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
  <!-- Cropperjs CSS -->
  <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">

  <link rel='stylesheet' href="{% static 'mdl/material.min.css' %}">

  <!-- Markdown-it -->
  <script src="{% static 'markdown-it/dist/markdown-it.min.js' %}"></script>
  <link rel="stylesheet" href="{% static '/highlight/styles/default.min.css' %}"/>
  <script src="{% static 'highlight/highlight.min.js' %}"></script>
  <script src="{% static 'highlight/languages/kotlin.min.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>


  <!-- FOR REVIEW
  highlight kotlin script ?!?!?!?
   END FOR REVIEW -->

  <title>IRRIGATION TANK CONTROL</title>
</head>

<!-- BODY -->
<body>

{% include 'snippets/base_css.html' %}
{% include 'snippets/base_js.html' %}
{% include 'snippets/header.html' %}

<!-- Loading Spinner -->
<div class="container" id="id_loading_spinner" style="display: none">
  <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<style>
	.main{
		min-height: 75vh;
		height: 100%;
	}
</style>

<!-- CONTENT -->
<div class="main">
    {% block content %}

    {% endblock content %}
</div>

<!-- SCRIPTS (I: the order is important!) -->
<!-- Jquery -->
<script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<!-- Bootsrtap -->
<script src="{% static 'bootstrap-4.6.1/js/bootstrap.bundle.min.js' %}"></script>
<!-- Bootstrap4-toggle CSS -->
<script src="{% static 'bootstrap4-toggle-3.6.1/js/bootstrap4-toggle.min.js' %}"></script>
<!-- Cropperjs -->
<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
<!-- Material Icons -->
<script src="{% static 'mdl/material.min.js' %}"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Loading spinner script -->
<script type="text/javascript">
  function displayLoadingSpinner(isDisplayed) {
    let spinner = document.getElementById("id_loading_spinner")
    if (isDisplayed) {
      spinner.style.display = "block"
    } else {
      spinner.style.display = 'none'
    }
  }
</script>

<!-- !!! Auto/Manual toggle script !!! -->
<script type="text/javascript">
    $(function() {
    $('#mode-toggle').change(function() {
      if ($(this).prop('checked') === true) {
        $('#pump-toggle').bootstrapToggle('disable');
        $('#mains-toggle').bootstrapToggle('disable');
        switchModeToggleAuto();
      } else {
        $('#warningModal').modal({
          backdrop: 'static',
          keyboard: false
        });
        $('#btn-no').on('click', function () {
          $('#mode-toggle').bootstrapToggle('on');
        });
        $('#btn-yes').on('click', function () {
          $('#pump-toggle').bootstrapToggle('enable');
          $('#mains-toggle').bootstrapToggle('enable');
          switchModeToggleManual();
        });
      }
    })
  })

</script>

<!-- SETUP SOCKET FOR MODE SWITCH -->
<script type="text/javascript">
  // Correctly decide between ws:// and wss://
  // let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
  let mode_ws_path;
  {% if debug_mode %}
    mode_ws_path = ws_scheme + '://' + window.location.host + "/mode/"; // development
  {% else %}
    mode_ws_path = ws_scheme + '://' + window.location.host + ":8001/"; // production
  {% endif %}

  // console.log("Connecting to " + pcr_ws_path);
  const mode_socket = new WebSocket(mode_ws_path);

  let modeToggleState;

  // Handle incoming water level data
  mode_socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log("Got work mode websocket message: " + data);

    if (data === true) {
      switchModeToggleAuto();
     } else {
      switchModeToggleManual();
    }
  };

  function switchModeToggleAuto() {
      $('#mode-toggle').prop('checked', true).change();
      mode_socket.send(JSON.stringify({
        "command": "auto"
      }));
  }

  function switchModeToggleManual() {
      $('#mode-toggle').prop('checked', false).change();
      mode_socket.send(JSON.stringify({
        "command": "manual"
      }));
  }

  mode_socket.onclose = function (e) {
    console.error('Mode Socket closed.');
  };

  mode_socket.onopen = function (e) {
    console.log("Mode Socket onOpen", e);
    getModeSwitchState();
  };

  mode_socket.onerror = function (e) {
    console.log('Mode Socket error', e);
  };

  /*
    Get the mode switch state
  */
  function getModeSwitchState() {
    if ("{{request.user.is_authenticated}}") {
      mode_socket.send(JSON.stringify({
        "command": "get_mode"
      }));
    }
  }

</script>
<!-- End SCRIPTS -->

</body>

<!-- FOOTER -->
{% include 'snippets/footer.html' %}

</html>
